


#clock {
    background-color: darkslategrey;
    font-family: 'Share Tech Mono', monospace;
    color: #ebe0e0;
    text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);}
    .time {
        text-align: center;
        letter-spacing: 0.05em;
        padding: 5px 0;
    }
    .date {
        text-align:center;
        letter-spacing: 0.1em;
    }
   
