<div class=" border p-4 text-center mb-4" style="background-color:white;">
    <p>{{timeleft.days}} days {{timeleft.hours}} hours {{timeleft.minutes}} minutes {{timeleft.secondes}} secondes</p>
    <button (click)="close()" >close</button>
</div>
<!-- <div class="flex-center" id="clock">
    <p class="date">{{ date|date }}</p>
    <p class="time">{{timeleft.days}} days,{{timeleft.hours}} hours, {{timeleft.minutes}} minutes and {{timeleft.secondes}} secondes</p>
  <p style="align-items:center">  <button  class="btn btn-info " (click)="close()" >close</button></p>
</div> -->