<div class="container mt-5 px-2">
    
    <div class="mb-2 d-flex justify-content-between align-items-center">
        
        <div class="position-relative">
            <span class="position-absolute search"><i class="fa fa-search"></i></span>
            <input class="form-control w-100" placeholder="Search by order#, name...">
        </div>
        
        <div class="px-2">
            
            <span>Filters <i class="fa fa-angle-down"></i></span>
            <i class="fa fa-ellipsis-h ms-3"></i>
        </div>
        
    </div>
    <div class="table-responsive">
    <table class="table table-responsive table-borderless">
        
      <thead>
        <tr class="bg-light">
          <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
          <th scope="col" width="5%">#</th>
          <th scope="col" width="20%">IdProduct</th>
          <th scope="col" width="10%">Name</th>
          <th scope="col" width="20%">label</th>
          <th scope="col" width="20%">Image
          <th scope="col" width="20%">State</th>
          

         
        </tr>
      </thead>
  <tbody>
   
    

    
    
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox"></th>
      <td></td>
      <td>1</td>
    
      <td>
        lampe</td>
      
      
      <td>portatif</td>
      <td><img src="https://i.imgur.com/VKOeFyS.png" width="25"> 
       </td>
 
      <td>neuf</td>

         <td> <span>
          <button type="button" class="btn btn-success" style="margin: right 6px;">Add</button></span>
        </td>

           <td> <span> <button type="button" class="btn btn-warning" style="margin: right 6px;">Update</button></span>
           </td>
            <td> <span><button type="button" class="btn btn-danger" style="margin: right 6px;">Delete</button></span>
            </td>
        
    </tr>
       

       

    
    
    

  </tbody>
</table>
  
  </div>
    
</div>
