<div *ngIf="user">
    <div>
        <img src={{user.photo}} width="50">
    </div>
    <div>
        <p>id : {{user.id}}</p>
        <p>First name : {{user.first_name}}</p>
        <p>Last name : {{user.last_name}}</p>
        <p>Data joined : {{user.data_joined}}</p>
        <p>Username : {{user.username}} </p>
        <p>Email : {{user.email}} </p>
        <p>Phone : {{user.phone}}</p>
        <p>Password(crypted): {{user.password}}</p>
        <p>Age : {{user.age}}</p>
        <p>Gender : {{user.genre}}</p>
        <p>Solde : {{user.solde}} TND</p>
        <p>Companie : {{user.compnaie}} </p>
        <p>Active : {{user.active}}</p>
        
        
    </div>
</div>

