<div class="container mt-5 px-2">
    
    <div class="mb-2 d-flex justify-content-between align-items-center">
        
        <div class="position-relative">
            <span class="position-absolute search"><i class="fa fa-search"></i></span>
            <input class="form-control w-100" placeholder="Search by order#, name...">
        </div>
        
        <div class="px-2">
            
            <span>Filters <i class="fa fa-angle-down"></i></span>
            <i class="fa fa-ellipsis-h ms-3"></i>
        </div>
        
    </div>
    <div class="table-responsive">
    <table class="table table-responsive table-borderless">
        
      <thead>
        <tr class="bg-light">
          <th scope="col" width="5%"><input class="form-check-input" type="checkbox"></th>
          <th scope="col" width="5%">#</th>
          <th scope="col" width="20%">idProp</th>
          <th scope="col" width="10%">price</th>
          <th scope="col" width="20%">iduser_client</th>
          <th scope="col" width="10%">name_client</th>
          <th scope="col" width="10%">iduser_vendeur</th>
          <th scope="col" width="10%">name_vendeur</th>
          <th scope="col" width="10%">idproduct</th>
          <th scope="col" width="10%">nameproduct</th>
          <th scope="col" width="10%">image</th>
          <th scope="col" width="10%">idcat</th>
          <th scope="col" width="10%">libelle</th>

         
        </tr>
      </thead>
  <tbody>
   
    

    
    
    <tr>
      <th scope="row"><input class="form-check-input" type="checkbox"></th>
      <td></td>
      <td>1</td>
      <td>500</td>
      <td>1</td>
        <td>mehdi</td>
        <td>2</td>
        <td>vicky</td>
        <td>4</td>
        <td>chandelle</td>
 
      
      
     
      <td><img src="https://i.imgur.com/VKOeFyS.png" width="25"> 
        Althan Travis</td>
      <td>1</td>
      <td><p>dgqefhceifhsidfhcisfhisfsdjisfi</p></td>
      
   

    
         <td> <span>
          <button type="button" class="btn btn-success" style="margin: right 6px;">Add</button></span>
        </td>

           <td> <span> <button type="button" class="btn btn-warning" style="margin: right 6px;">Update</button></span>
           </td>
            <td> <span><button type="button" class="btn btn-danger" style="margin: right 6px;">Delete</button></span>
            </td>
        
    </tr>
       
   
    

  </tbody>
</table>
  
  </div>
    
</div>
