
 <!-- ----------------------------------Produit de l'encheres -------------------------------------------------- -->
 
 <div   class="container ">
  
  <h5>Product</h5>
   <div class=" fluid-container row ">
      <div  class="col-3" style="margin-right:30px">
        <section id="sidebar">
          <p> All Categories</p>
          <div class="border-bottom pb-2 ml-2">
              <h4 id="burgundy">Filters</h4>
          </div>
          <div class="py-2 border-bottom ml-3">
              <h6 class="font-weight-bold">Categories</h6>
              <div id="orange"><span class="fa fa-minus"></span></div>
              <form>
                  <div class="form-group" *ngFor="let c of listeCategory">
                      <input [checked]="c.selected" type="checkbox" (change)="addtofilter(c.id)" id="artisan">
                      <label for="artisan">{{c.categoryName}}</label>
                  </div>
                 
                                                            
              </form>
          </div>
      </section>
      </div>
      <div class="col-8">
      
        <!-- <select class="form-select" (change)="sortby($event.target)" style="max-width:25%;float:right"  aria-label="Default select example">
          <option selected value="null">Sort Type</option>
          <option value="D">Expire date</option>
          <option value="A">A--Z</option>
        </select> -->

      <app-liste-offer  [type]="type" [text]="text" [size]="chosenliste.size" [listefilter]="chosenliste"></app-liste-offer>
    </div>
      </div>
 </div>

 

     

 







