

    <div class="row ">
      
      
      <div class="  col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login  align-items-center ">
          <div class="container">
            <div class="row">
              
                <h3 class="login-heading mb-4">Add Category</h3>
  
                <!-- Sign In Form -->
                <form [formGroup]="category" (ngSubmit)="addCategory()">
                  
                   
                        <div class="form-group">
                          <label > Name Category</label>
                          <input   type="text" formControlName="categoryName" class="form-control">
                         </div>
  
                        
                     
  
                         <div class="form-group">
                          <label >Duration :(Days)</label>
                          <input  type="number" formControlName="duration" class="form-control" placeholder="number of days">
                        </div>
                       
                        <div class="form-group">
                          <label for="name" class="col-sm-3 control-label" >Image(jpg/png):</label> 
                          <input type="file"  (change)="getFile($event)" id="name" class="form-control" formControlName="image">
                      </div>
                      <div class="mt-2">
                        <button type="submit"    class="btn btn-success">Ajouter</button>
                     </div>  
              
                    </form>
             
            </div>
          </div>
        </div>
      </div></div>
 
 