
<main id="main" class="main"><div class="container mt-5 px-2">
    
    <div class="mb-2 d-flex justify-content-between align-items-center">
      <button routerLink="addoffer" class="btn btn-outline-success"><i class="fa fa-plus" aria-hidden="true"></i> Offer</button>
      
        
        <div class="px-2">
            
          <select  class="form-select" (change)="chooseState($event.target)" aria-label="Default select example">
            <option selected value="null" >Select Offer State</option>
            <option value="ACTIVE">Active</option>
            <option value="PENDING">Pending</option>
            <option value="DISABLED">Disabled</option>
            <option value="APPROVED">Approved</option>
          </select>
    </div>

        </div>
  
        
    </div>

  
  
    
  
    <app-liste-offers [filter]="filter" [offers]="offers" class=" table-responsive" style="max-height:100px ;"  ></app-liste-offers>
   
  
  

  </main>
  
