<div [hidden]="val" class="container-expand-lg "  style="background-color:#005555;" >

    <footer class="text-white text-center ">

      <div class="container p-4">
       
        <div class="row ">
        
          <div class="col-lg-4 col-md-12 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">About BID UP</h5>
  
            <p>
              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium
              voluptatum deleniti atque corrupti.
            </p>
  
            <p>
              Blanditiis praesentium voluptatum deleniti atque corrupti quos dolores et quas
              molestias.
            </p>
  
     
          </div>
        
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4 pb-1">Suscribe </h5>
  
            <div class="form-outline form-white mb-4">
              <input type="text" id="formControlLg" class="form-control form-control-lg" />
              
            </div>
  
            <ul class="fa-ul" style="margin-left: 1.65em;">
              <li class="mb-3">
                <a type="button" class="btn btn-floating btn-light btn-lg me-1"><i class="fa fa-facebook-square" aria-hidden="true"></i></a>
              </li>
              <li class="mb-3">
                <a type="button" class="btn btn-floating btn-light btn-lg me-1"><i class="fa fa-phone-square" aria-hidden="true"></i></a>
              </li>
              <li class="mb-3">
                <a type="button" class="btn btn-floating btn-light btn-lg me-1"><i class="fa fa-google-plus-square" aria-hidden="true"></i></a>
              </li>
            </ul>
          </div>
       
          <div class="col-lg-4 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase mb-4">Opening hours</h5>
  
            <table class="table text-center text-white">
              <tbody class="fw-normal">
                <tr>
                  <td>Mon - Thu:</td>
                  <td>8am - 9pm</td>
                </tr>
                <tr>
                  <td>Fri - Sat:</td>
                  <td>8am - 1am</td>
                </tr>
                <tr>
                  <td>Sunday:</td>
                  <td>9am - 10pm</td>
                </tr>
              </tbody>
            </table>
          </div>
         
        </div>
     
      </div>
     
  
     
      <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <p class="text-white" href="">BID UP</p>
      </div>
    
    </footer>
  
  </div>
 
